.generaRegistro{
    display: flex;
    justify-content: center;
}
.generaRegistro button{
    width: 30%;
}
.consultaRegistro .item{
    margin:1rem 0;
}
.consultaRegistro{
    width:30%;
    padding:1rem;
    border:1px dotted #999;
}