.programas-container{
    width:80%;
    display: flex;
    flex-direction: column;
    min-height: 88vh;
}
.programas-container .titulo{
    width:100%;
    text-align: center;
}
.programas-container .subtitulos, .programas-container .seccion-programas-item{
    margin:1.5em;
    width:100%;
    display: flex;
    justify-content: space-between;
}
.programas-container .subtitulos span{
    font-weight: bold;
    width:25%;
    
}
.programas-container .seccion-programas-item span{
    width:25%;
}

.seccion-programas-item > input[type=number]{
    box-sizing: border-box;
    border-radius: .7rem;
    border: .1rem solid rgb(34, 100, 112);
    text-align: center;
    width: 25%;
    align-self: center;
    padding:1rem;
}

.seccion-programas-item > input[type=number]:hover, .seccion-programas-item > input[type=number]:focus{
    border: 0.1rem solid #2EA44F;
    box-shadow: 2px 2px 5px darken(#2EA44F, .7);
    outline: none;
}
